@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gideon+Roman&display=swap');

:root{
    --fonttitulo: 'Abril Fatface', cursive;
    --fontpadrao: Arial, Helvetica, sans-serif;
    --fontdestaque: 'Gideon Roman', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 1490px;
    height: 100%;
    background-image: url(../img/img.bubbles.jpg);
    background-repeat: no-repeat;   
    background-size: cover; 
}

/*incio dos styles do reprodutor de audio*/

article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    align-items: center;
    margin: 80px;
    width: 490px;
    height: 150px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.329);
    background-color: rgba(0, 0, 0, 0.185);
}

img{
    width: 150px;
}

.Barra{
    width: 300px;
    height: 8px;
    margin: 15px 20px 0px;
    border: solid 1px #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: :flex-start;
}
.ponto{
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin: -6px;
    background-color: rgb(58, 58, 58);
}

progress{
    height: 8px;
    width: 0%;
    
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 5px 20px 0px;
    
    color: white;
}

.descricao > h2{
    font-family: var(--fonttilulo);
    font-weight: 100;
    margin: 0px 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
    color: black;
}
.descricao > a{
    font-family: var(--fontparagrafo);
    margin: 0px 20px ;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
    color: black; 
}

a:hover{
    color: blue;
}

.botoes > img{
    width: 30px;
    cursor: pointer;
}

.pausebtn{
    margin-left: 100px;
}

/* fim dos styles do reprodutor de audio*/

header{
    min-width: 320px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.705);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}
header > h1{
    padding: 23px 0px 0px; 
   text-align: center;
   color: white;
   font-family: var(--fonttitulo);
   font-size: max(53px, 4vw);
   font-variant: small-caps;
}
header > p{
        text-align: center;
    padding: 13px 0px 0px;
    text-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
    font-family: var(--fontdestaque);
    font-size: max(25px, 1vw);
    color: white;
}
header > footer,a{
    text-decoration: none;
    font-family: var(--fontdestaque);
    color: white;
}
a:hover{
   background-color: #e8e9ec;
   color: black;
   text-decoration: underline;
}

audio{
    margin: auto;
    display: block;
    padding: 50px;
}
section{
    font-size: max(20px, 1vw);
    line-height: 2em;
    padding: 20px 20px;

    color: white;
    
}
.yellow{
    color: #EDAA25;
}
section >.box{
    max-width: 100%;
    width: 362px;
    background-color: rgba(255, 255, 255, 0.171);
}

section.img1{
    background-image: url(../img/img.ocean.jpg);
    background-size: cover;
    background-position: center;
    box-shadow:  5px 5px 15px 5px rgba(0, 0, 0, 0.39)
    
}
section.img2{
    background-image: url(../img/img.mergulho.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    box-shadow:  5px 5px 15px 5px rgba(0, 0, 0, 0.39)
    
}
section.img3{
    background-image: url(../img/cherrywaves.jpg);
    background-size: cover;
    box-shadow:  5px 5px 15px 5px rgba(0, 0, 0, 0.39)
}
section#im1,#im3 {
    background-attachment: fixed;
}

footer{
    padding:15px;
    text-align: center;
    font-family: var(--fontdestaque);
    background-color: black;
    color: white;
}



